body {
    background-color: rgb(157, 255, 224);
    background-image: url("./Background.png");
    background-attachment: fixed;
    background-size: contain;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
    margin: 0;
}

img {
    border-radius: 6px;
}

.image {
    max-width: 250px;
    max-height: 250px;
}

a {
    cursor: default;
}

a:visited {
    color: black;
}

button {
    width: 130px;
    max-height: 60px;
    min-height: 20px;
    border: solid 5px black;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: -3px 3px 3px -1px black;
    margin: 0 10px;
}

button:hover {
    border: solid 5px rgb(11, 12, 10);
    background-color: rgb(11, 13, 10);
    color: rgb(226, 184, 195);
    box-shadow: none;
    transform: scale(.95);
    transition-duration: 100ms;
}

#navBar {
    position: sticky;
    top: 0;
    min-width: 340px;
    border-bottom: solid 5px black;
    border-radius: 6px;
    background-image: url("./Banner.png");
    background-size: contain;
    background-color: rgb(245, 149, 149);
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-items: center;
    margin-top: 0;
}

#navData {
    margin: auto;
}

#navBar button {
    width: 100px;
}

#logoBox {
    width: 250px;
}

.logo {
    width: 250px;
}

.logButton {
    display: inline-block;
    margin: 10px 10px 5px;
}

#home {
    border-radius: 0 0 6px 6px;
}

#greeting {
    font-size: 50px;
    width: 70%;
    margin: 10px auto 0;
    text-align: center;
    padding-bottom: -5px;
    background-color: rgba(251, 242, 64, 0.83);
    border-bottom: solid 2px black;
    border-radius: 6px;
}

#gc {
    grid-area: gc;
}

#rc {
    grid-area: rc;
}

#prod {
    grid-area: prod;
    display: grid;
}

#linkProd {
    grid-area: linkProd;
}

#nameProd {
    grid-area: nameProd;
}

#pc {
    background-color: palevioletred;
    border-bottom: solid 2px black;
    grid-area: pc;
    margin: auto 10px auto 20px;
    padding-top: 15px;
    display: grid;
    grid-template-areas:
    "nameProd nameProd nameProd" 
    "prod prod ."
    "prod prod linkProd"
    "prod prod .";
    padding: 0 0 10px 20px;
}

#pc button {
    height: auto;
}

#prodName {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.prodGreeting {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: palevioletred;
    width: fit-content;
    margin: auto auto 6px auto;
    padding:  5px 10px;
}

#prodName img {
    width: 30px;
}

#prodName img:hover {
    transform: scale(1.1);
    transition: 500ms;
}

#homeCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'gc rc'
    'pc rc';
    margin: auto 10px;
    padding-bottom: 8px;
    align-items: center;
}

.card {
    text-align: center;
    border-radius: 6px;
    margin: 15px auto;
}

.visible {
    width: 40px;
    min-height: 28px;
    background-color: none;
    border: none;
}

.visible:hover {
    border: none;
    width: 40px;
    min-height: 28px;
}

label {
    display: block;
}

#group {
    min-width: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 0 10px 15%;
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: rgb(91, 154, 212);
    margin-bottom: 5px;
}

.groupGreeting {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: rgb(91, 154, 212);
    width: fit-content;
    margin: auto auto 6px auto;
    padding:  5px 10px;
}

#gInfo {
    max-width: 350px;
    margin-right: 10px;
}

#gMembers {
    max-width: 200px;
    margin-right: 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 10px 0;
}

.blurb {
    display: flex;
    flex-direction: row;
}

.blurb button {
    padding: 4px;
}

.sortButtons {
    display: flex;
    align-items: center;
}

#groupList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
}

#review {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: rgb(228, 163, 106);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
}

.revGreeting {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: rgb(228, 163, 106);
    width: fit-content;
    margin: auto;
    padding:  5px 10px;
}

#revTitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 6px;
}

#revList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.revHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    align-items: center;
}

#revButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allProdList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
}

.allProdDetails {
    grid-area: apd;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4px;;
}

.allProdImage {
    grid-area: api;
    display: flex;
    flex-direction: column;
}

.allProdBrand {
    grid-area: apb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allProd {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: palevioletred;
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
    "apd apd"
    "api apb";
    padding: 5px;
    align-items: center;
    justify-items: center;
}

.dollars {
    border-bottom: solid 2px black;
    background-color: rgba(151, 15, 65, 0.842);
}

#brandDetails {
    grid-area: bd;
    text-align: center;
}

#newProd {
    grid-area: bnp;
}

#brandProds {
    grid-area: bp;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

#brand {
    border-bottom: solid 2px black;
    max-height: 265px;
    overflow-y: auto;
    border-radius: 6px;
    background-color: rgb(249, 172, 144);
    display: grid;
    grid-template-areas: 
    "bd bnp"
    "bp bp";
    padding: 10px;
}

.brandGreeting {
    border-bottom: solid 2px black;
    border-radius: 6px;
    background-color: rgb(249, 172, 144);
    width: fit-content;
    margin: auto;
    padding:  5px 10px;
}

#brand::-webkit-scrollbar {
    display: none;
}

#brand img {
    max-width: 70px;
    max-height: 70px;
}

#brandList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

input, select {
    border: none;
    border-bottom: solid 1px black;
    width: 200px;
    height: 28px;
    font-size: 16px;
}

textarea {
    border: none;
    border-bottom: solid 1px black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea::-webkit-scrollbar {
    display: none;
}


.form {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    justify-items: start;
    width: 300px;
}

.submit {
    margin-top: 10px;
}

.signIn {
    border-bottom: solid 2px black;
    border-radius: 6px;
    box-shadow: -10px 5px 10px black;
    background-color: bisque;
    text-align: center;
    width:fit-content;
    margin: 20px auto;
    padding: 10px;
}