body {
    background-color: rgb(232, 251, 251);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 220px;
    border-radius: 3px;
}

a:visited {
    color: black;
}

button {
    width: 130px;
    max-height: 60px;
    min-height: 20px;
    border: solid 5px black;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: -5px 5px 10px 1px black;
    margin: 0 10px;
}

button:hover {
    border: solid 5px rgb(11, 12, 10);
    background-color: rgb(11, 13, 10);
    color: rgb(226, 184, 195);
    box-shadow: none;
    transform: scale(.95);
    transition-duration: 100ms;
}

#navBar {
    border-bottom: solid 5px black;
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    text-align: center;
    display: block;
}

#navBar button {
    width: 100px;
}

.logButton {
    display: inline-block;
    margin: 10px 10px 5px;
}

#home {
    background-color: pink;
}

#greeting {
    font-size: 50px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: -5px;
    border-bottom: solid 2px black;
}

#gc {
    grid-area: gc;
}

#rc {
    grid-area: rc;
}

#prod {
    grid-area: prod;
}

#linkProd {
    grid-area: linkProd;
}

#pc {
    background-color: aqua;
    border: solid 2px black;
    max-width: 500px;
    grid-area: pc;
    margin: auto 10px auto 20px;
    padding-top: 15px;
    display: grid;
    grid-template-areas: 
    "prod prod ."
    "prod prod linkProd"
    "prod prod .";
    justify-content: space-around;
    padding: 0 0 0 20px;
}

#pc button {
    transform: rotate(0deg);
}

#homeCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'gc rc'
    'pc rc';
    margin: auto 10px;
    padding-bottom: 8px;
    align-items: center;
}

.card {
    text-align: center;
}

.visible {
    width: 40px;
    min-height: 28px;
    background-color: none;
    border: none;
}

.visible:hover {
    border: none;
    width: 40px;
    min-height: 28px;
}

input {
    border: none;
    border-bottom: solid 1px black;
}

label {
    display: block;
}

#group {
    max-width: 500px;
    min-width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 10px 15%;
    border: solid 2px black;
    background-color: aqua;
    margin-bottom: 5px;
}

#gInfo {
    max-width: 350px;
    margin-right: 10px;
}

#gMembers {
    max-width: 200px;
}

#groupBlurb {
    margin: 0 0 10px 18%;
    vertical-align: top;
}

#groupBlurb button {
    padding: 4px;
}

#groupList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
}

.sortButtons {
    display: flex;
    max-width: 400px;
    height: 40px;
    align-items: center;
}